<div id="content_container">
        <div id="content_top"></div>
        <div id="content">
          <!-- insert the page content here -->
          <h1>欢迎使用Christy微信公众管理平台</h1>
          <p>这是一个免费的，开源的微信公众管理平台。</p>
          <p>通过本平台，您可以在启用微信公众平台后，十分方便的将微信公众平台架设在这里。</p>
          <p>该平台使用开源的网页模板做前端。使用PHP开发后台。</p>
          <p>如果您对平台的使用有任何建议，意见等或者希望能够得到技术支持，可以通过留言板来告诉我们。</p>
          <h1>开发日志</h1>
          <p>以下为本平台版本1.0的开发日志</p>
          <ul>
            <li>2014年2月1日 插件开发</li>
            <li>2014年1月31日 可扩展式设计  插件模块框架搭建</li>
            <li>2014年1月30日 图文信息回复网页端部分</li>
            <li>2014年1月29日 音乐信息回复的网页端部分</li>
            <li>2014年1月28日 图文信息回复与音乐信息回复的数据库部分</li>
            <li>2014年1月27日 用户管理 文本信息回复</li>
            <li>2014年1月26日 友情链接管理 公众账号设置</li>
            <li>2014年1月25日 项目启动 前端搭建</li>
          </ul>
        </div>
        <div id="content_base"></div>
      </div>